*,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
